<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="8613" value="Firmware\slave_PID1003.hex" />
    <add key="1003" value="Firmware\slave_PID1003.hex" />
    <add key="1003" value="Firmware\slave_PID1004.hex" />
  </appSettings>
</configuration>